<%- include header %>
<form method="post">
  名称：<br />
  <input type="text" name="cname" /><br />
  图片：<br />
  <textarea name="cimage" rows="5" cols="20"></textarea><br />
  价格：<br />
  <input type="text" name="cprice" /><br />
  <input type="submit" value="添加" />
</form>
<%- include footer %>
